<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="background-image"id="home"></div>
  <div class="img"></div>
  <header id="header" >
    <div>
      <img src="http://rvstravel.az/images/Airlines-logo/2AZAL-website-ico.png" alt="">
    </div>
    <div >
      <ul class="header-container" >
        <li ><a href="#home">Home</a></li>
        <li><a href="#table">Flight</a></li>
        <li><a href="#about">About</a></li>
        
      </ul>
    </div>
  </header>
  <div class="trapozoid" >
    <div>
      <h1>Live Flight Information</h1>
      <h3>Stay updated on Arrival and Departure timings</h3>
    </div>
  </div>
  <div class="blue" id="table"></div>
  <div class="gray"></div>
  <div class="contain">
    <div class="white-container">
      <div class="table-container" >
        <div class="container-centre">
          <div class="buttons">
            <div>
              <button routerLink="departure" [ngStyle]="{'background-color':departureStyle?'#013976':'gray'}"
                (click)="Departure()">
                <div>
                  DEPARTURE
                </div>
                <div>
                  <img src="https://cdn-icons-png.flaticon.com/512/723/723963.png" alt="Departure">
                </div>
              </button>
            </div>
            <div>
              <button routerLink="arrival" [ngStyle]="{'background-color':arrivalStyle?'#013976':'gray'}"
                (click)="Arrival()">
                <div>
                  ARRIVAL
                </div>
                <div>
                  <img src="http://cdn.onlinewebfonts.com/svg/img_235692.png" alt="Departure">
                </div>
              </button>
            </div>
          </div>
          <br>


          <router-outlet></router-outlet>
          <br>
        </div>
      </div>


    </div>
 <hr>
 <h1 id="about"></h1>
  <br><br>
  <h1 style="padding-bottom: 60px;padding-top: 60px;font-size: 3rem;">About</h1>
  <div class="about">
    <div>
      
        “Azərbaycan Hava Yolları” (AZAL) böyük aviadaşıyıcı və MDB ölkələrinin aviasiya icmasının liderlərindən biridir. Aviaşirkətin ümumi marşrut şəbəkəsi 25 ölkədə 40 istiqamətdən ibarətdir. 2016-ci ildə “Azərbaycan Hava Yolları” 2 milyondan çox sərnişin daşımışdır.

            Azərbaycanın mülki aviasiyasının təyyarələri Beynəlxalq Mülki Aviasiya Təşkilatının (İCAO) standartlarına tamamilə uyğundur, AZAL isə ən nüfuzlu mülki aviasiya təşkilatının -  Beynəlxalq Hava Nəqliyyatı Assosiasiyasının (İATA) üzvüdür.

            AZAL 23 hava gəmisindən ibarət ən yeni təyyarə parkına malikdir.

            AZAL-ın qərargahı Bakı şəhərində, beynəlxalq standartlara cavab verən Heydər Əliyev Beynəlxalq Hava Limanında yerləşir.



            Aviaşirkətin və "Azərbaycan Hava Yolları" QSC-nin tarixi

            1992-ci ilin aprelində müstəqillik əldə etdikdən sonra Respublika hökumətinin qərarı ilə Azərbaycanda aviasiya üzrə dövlət orqanı - "Azərbaycan Hava Yolları" Dövlət Konserni yaradılmışdır.

            1996-ci ildə "Azərbaycan Hava Yolları" konserninin tərkibində "Azəraeronaviqasiya" hava hərəkətinin idarəedilməsi mərkəzi yaradılmışdır.

            1997-ci ildə "Azərbaycan Hava Yolları"-nın tərkibində AZALOIL müəssisəsi yaradılmışdır.

            1999-cu ildə Bakı hava limanında yeni beynəlxalq terminal açılmışdır.

            2000-ci ildə "Azərbaycan Hava Yolları" ilk Boeing 757-200 model təyyarələr almışdır.

            2004-cü ildə Prezident İlham Əliyevin qərarı ilə "Binə" Hava Limanı "Heydər Əliyev Beynəlxalq Hava Limanı" adlandırılmışdır.

            2004-cü ildə Naxçıvan şəhərindəki hava limanı beynəlxalq hava qovşağı statusu almışdır.

            2005-ci ildə Heydər Əliyev Beynəlxalq Hava Limanında yeni yük terminalı (Baku Cargo Terminal) açılmışdır.

            2006-ci ildə Gəncə Beynəlxalq Hava Limanı yenidən qurulmuşdur.

            2008-ci ilin aprelində Azərbaycan Prezidentinin sərəncamı ilə "AZAL" dövlət konserni yenidən formalaşdırılaraq "Azərbaycan Hava Yolları" QSC adlandırılmışdır.

            2009-cu ildə əsaslı yenidənqurmadan sonra Zaqatala və Lənkəran hava limanları beynəlxalq status almışdır.

            2011-ci ildə Avropa İqtisadiyyat, Sənaye və Ticarət Palatası (EEIG) "Azərbaycan Hava Yolları" QSC-yə Avropa Xidmət Standartı vermişdir.

            2011-ci ildə "Azərbaycan Hava Yolları" "Boeing 767-300ER" tipli təyyarələri almışdır.

            2012-ci ildə Qəbələdə beynəlxalq hava limanı tikilmişdir.

            2013-ci ildə "Azərbaycan Hava Yolları" Airbus A340-500 uzaq magistrallı sərnişin təyyarələri almışdır.

            2013-cü ildə Yevlaxda "Azalaqro" aviaşirkəti açılmışdır.

            2014-cü ildə Heydər Əliyev Beynəlxalq Hava Limanının yeni aerovağzal kompleksi (Terminal 1) istifadəyə verilmişdir.

            2014-cü ildə "Azərbaycan Hava Yolları" hava gəmiləri parkına müasir Boeing 787-8 Dreamliner təyyarələrini əlavə etmişdir.

            2014-cü ildə "Azərbaycan Hava Yolları" Braziliya istehsalı olan Embraer 190 və Embraer 170 reaktiv təyyarələri almışdır.

            2014-cü ildə "Azərbaycan Hava Yolları" Bakıdan Nyu-Yorka müntəzəm transatlantik uçuşlar yerinə yetirməyə başlamışdır.

            2015-ci ildə Britaniyanın dünyaca məşhur və aviaşirkətlərin xidmət keyfiyyətinin qiymətləndirilməsi sahəsində ən mötəbər konsaltinq şirkəti “Skytrax” Azərbaycanın milli aviadaşıyıcısına və Heydər Əliyev Beynəlxalq Hava Limanına nüfuzlu "4 ulduz" reytinqi vermişdir.

            2016-ci ildə Azərbaycan Amerika Birləşmiş Ştatları ilə “Open Skies” sazişi imzalamışdır.

            2016-ci ildə Naxçıvan Beynəlxalq Hava Limanı yenidən qurulmuşdur. Hava limanında ilk dəfə teleskopik traplar qurulmuşdur.

            2016-ci ildə AZAL QSC-nin tərkibində Azərbaycanın ilk aşağı büdcəli aviaşirkəti - Buta Airways yaradılmışdır.

            2017-ci ildə “Skytrax” şirkəti Heydər Əliyev Beynəlxalq Hava Limanını Rusiya və MDB ölkələrinin bütün hava limanları arasında ən yaxşı hava limanı adlandırmışdır.

            2017-ci ildə AZAL QSC-nin tərkibində olan “Buta Airways” aşağıbüdcəli aviaşirkəti uçuşlar həyata keçirməyə başlamışdır.

            2018-ci ildə Heydər Əliyev Beynəlxalq Aeroportunda Azərbaycan Hava Məkanından İstifadə, Strategiya və İnkişaf üzrə Səmərəlilik Mərkəzinin (ASEC) rəsmi açılış mərasimi keçirilmişdir.

            2018-ci ildə Avropa Hava Hərəkəti Axınının İdarəetmə Mərkəzi (EUROCONTROL) AZANS ilə Azərbaycanı “Eurocontrol”un tərəfdaşı kimi tanıyan rəsmi sazişi imzalamışdır.

            2018-ci ildə Heydər Əliyev Beynəlxalq Aeroportu “Skytrax” tərəfindən 5 ulduzlu mükafata layiq görülmüşdür.

            2018-ci ildə Heydər Əliyev Beynəlxalq Aeroportu Böyük Britaniyanın “Skytrax” şirkəti tərəfindən Rusiya və MDB ölkələrinin hava limanları arasında ən yaxşı hava limanı seçilmişdir.

            2018-ci ildə Böyük Britaniyanın konsaltinq şirkəti “Skytrax” “Azərbaycan Hava Yolları” sərnişin aviaşirkətinin nüfuzlu “4 ulduz” reytinqini təsdiq etmişdir.

            2018-ci ildə “Azərbaycan Hava Yolları” sərnişin aviaşirkəti “Skytrax” tərəfindən “Mərkəzi Asiya və Hindistanda ən yaxşı regional aviaşirkəti” olaraq tanınmışdır.

            2019-cu ildə “Azərbaycan Hava Yolları” sərnişin aviaşirkəti “Skytrax” tərəfindən “Mərkəzi Asiya və Hindistanda ən yaxşı regional aviaşirkəti” olaraq tanınmışdır.

            2019-cu ildə ölkənin beynəlxalq hava limanlarında beşinci və yeddinci qrup “hava azadlığı” adlandırılan rejimlər tətbiq edilmişdir.

            2020-ci ildə Böyük Britaniyanın konsaltinq şirkəti “Skytrax” “Azərbaycan Hava Yolları” sərnişin aviaşirkətinin nüfuzlu “4 ulduz” reytinqini təsdiq etmişdir.

            2020-ci ildə “Azərbaycan Hava Yolları” sərnişin aviaşirkəti, aviasiya analitik-sorğu nəşri olan Official Airline Guide (OAG) görə 2019 -cu ildə Avropanın ən punktual aviaşirkəti kimi tanınmışdır.

            2020-ci ildə Heydər Əliyev Beynəlxalq Aeroportu dünyanın bulud texnologiyalarına tamamilə keçən ilk hava limanı olmuşdur.

            2020-ci ildə ICAO, Füzuli Beynəlxalq Hava Limanının beynəlxalq mekan indeksləri kataloquna daxil edilməsi barədə Dövlət Mülki Aviasiya Administrasiyasının müraciətini təsdiq etmişdir.

            2020-ci ildə Heydər Əliyev Beynəlxalq Aeroportu Böyük Britaniyanın “Skytrax” konsaltinq şirkəti tərəfindən verilən "5 ulduz" statusunu təsdiq etmişdir.

            2020-ci ildə Heydər Əliyev Beynəlxalq Aeroportu “Skytrax” tərəfindən verilən “Rusiya və MDB ölkələrinin hava limanları arasında ən yaxşı hava limanı” statusunu təsdiq etmişdir.

            2021-ci ildə Heydər Əliyev Beynəlxalq Aeroportu COVID-19-a qarşı təhlükəsizlik tədbirləri üzrə ən yüksək reytinqə layiq görülmüşdür.

            2021-ci ildə uzunmüddətli fasilədən sonra Qarabağ səmasında milli naviqasiya sistemlərinin radioçağırış siqnalları yenidən ötürülmüşdür. Bu siqnalları ilk dəfə Azərbaycan Milli daşıyıcısının (AZAL) təyyarələri qəbul etmişdir.

            2021-ci ildə Gəncə Beynəlxalq Hava limanına yeni IATA kodu verilmişdir.
      
    </div>
  </div><br><br><br><br><br>

  <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center" style="left: 105px;position: relative;">
            <span class="me-3"><a href="#home"> Return Home</a></span>
            
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 BAKU
        <a class="text-white"></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
  </div>
 
  
  
</body>

</html>